.hymenoplasty__main{
  width: 100%;
  height: auto;
  position:absolute;
  top:0;
  background-attachment:fixed;

}

.hymenoplasty__mainContainer{
  background-color:white;
  max-width: 500px;
  margin:60px auto;
}

.hymenoplasty__spacer{
  height: 300px;
}


.hymenoplasty__firstContainer{
  display: flex;
  flex-wrap: wrap;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.hymenoplasty__secondContainer{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.hymenoplasty__image{
	margin-left: 5px;
	margin: 10px;
	padding:5px;

}
.hymenoplasty__image>img{
  width: 300px;
  margin-top: 20px;
 	height: auto;
}
.hymenoplasty__mainContainer>h1{
	position: relative;
	position: fixed;
	top:35px;
	text-align: center;
}

.hymenoplasty__content{
	margin: auto 5px;
}

.hymenoplasty__content>p, .hymenoplasty__content2>p, .hymenoplasty__faqConatianer>p{
 background-color: white;
 color:black;
 font-family: "Lato", sans-serif;
 margin:5px;
}
.hymenoplasty__showMoreContainer >button, .hymenoplasty__moreInfoContainer>button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: #f44336;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.fa-caret-up {
  float: right;
  padding-right: 8px;
 }

.hymenoplasty__showMoreContainer>h4{
	margin:1px;
}

.hymenoplasty__hideFaq, .hymenoplasty__showFaq {
  background-color: #4CAF50; /* Green */
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
