.O-Shot__main{
  width: 100%;
  height: auto;
  position:absolute;
  top:0;
  background-attachment:fixed;

}

.O-Shot__mainContainer{
  background-color:white;
  max-width: 500px;
  margin:60px auto;
}

.O-Shot__spacer{
  height: 300px;
}

.O-Shot__firstContainer{
  display: flex;
  flex-wrap: wrap;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.O-Shot__secondContainer{
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}
.O-Shot__image{
	margin-left: 5px;
	margin: 10px;
	padding:5px;

}
.O-Shot__image>img{
	width: 300px;
   height: auto;
   margin-top: 20px;
}
.O-Shot__mainContainer>h1{
	position: relative;
	position: fixed;
	top:35px;
	text-align: center;
}

.O-Shot__content{
	margin: auto 5px;
}

.O-Shot__content>p, .O-Shot__content2>p, .O-Shot__faqConatianer>p{
 background-color: white;
 color:black;
 font-family: "Lato", sans-serif;
 margin: 5px;
}
.O-Shot__showMoreContainer >button, .O-Shot__moreInfoContainer>button{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: #f44336;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.fa-caret-up {
  float: right;
  padding-right: 8px;
 }

.O-Shot__showMoreContainer>h4{
	margin:1px;
}

.O-Shot__hideFaq, .O-Shot__showFaq {
  background-color: #4CAF50; /* Green */
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


